@model PostReadDTO


@{
    ViewData["Title"] = "Read Post";
}



<partial name="_PostRead" model=@Model />


<a asp-controller="Post" asp-action="MyPosts" class="btn btn-secondary">Go back to list</a>
