@model ApplicationUserInfoReadDTO

@if (Model != null)
{
    ViewData["Title"] = "Users: " + Model.FirstName;


    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var key in ViewData.ModelState.Keys)
                {
                    foreach (var error in ViewData.ModelState[key].Errors)
                    {
                        <li>@error.ErrorMessage</li>
                    }
                }
            </ul>
        </div>
    }

    <div class="form-group">
        <label asp-for="Id">Id</label>
        <input asp-for="Id" class="form-control" disabled="disabled" />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProfilePicture">Profile Picture</label>
        <input asp-for="ProfilePicture" class="form-control" disabled="disabled" />
    </div>


    <div class="form-group">
        <label asp-for="UserName">Username</label>
        <input asp-for="UserName" class="form-control" disabled="disabled" />
    </div>


    <div class="form-group">
        <label asp-for="FirstName">FirstName</label>
        <input asp-for="FirstName" class="form-control" disabled="disabled" />
    </div>

    <div class="form-group">
        <label asp-for="LastName">LastName</label>
        <input asp-for="LastName" class="form-control" disabled="disabled" />
    </div>


    <a href="#">View Posts</a>


    <a asp-controller="ApplicationUserInfo" asp-action="Index" class="btn btn-secondary">Go back to list</a>
}
else
{
    <div class="alert alert-danger">
        <h3>There is no user with this id</h3>
    </div>
}