
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Register Success</h2>
            <p>Thank you for registering. You can now login to your account <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Here</a></p>
            
        </div>
    </div>
</div>
